<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title</title>
    <link rel="stylesheet" href="icon/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>


<body class="user-body">
    <div class="container shadow1 header-bg ">
        <div class="wrapper">
            <div class="clearfix header">
                <div class="left logo">
                    <a asp-controller="home" asp-action="index">
                        <img src="images/logo.png" />
                    </a>
                </div>
                <div class="right menu">
                    <span class="item">
                        <a href="javascript:;">我的应有</a>
                    </span>
                    <span class="item">
                        <a href="register.html">消息&nbsp;
                            <i class="badge bg-gray">0</i>
                        </a>
                    </span>
                    <span class="item">
                        <a asp-controller="user" asp-action="index" href="login.html">你好：Admin</a>
                    </span>
                    <span class="item">
                        <a asp-controller="account" asp-action="logoff">[退出]</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="clearfix main">
                <div class="left shadow2 slider">
                    <div class="box box-no-border">
                        <div class="box-title"></div>
                        <div class="box-inner">
                            <div class="profile">
                                <div class="avator">
                                    <img class="avator-img" src="//img.mukewang.com/5458676e0001af7702200220-200-200.jpg">
                                </div>
                                <p class="descript">Admin</p>
                                <dl class="clearfix tag">
                                    <dd>
                                        <i class="icon iconfont d-icon-self2"></i>
                                    </dd>
                                    <dd>
                                        <i class="icon iconfont d-icon-email2"></i>
                                    </dd>
                                    <dd class="active">
                                        <i class="icon iconfont d-icon-phone1"></i>
                                    </dd>
                                    <dd>
                                        <i class="icon iconfont d-icon-system2"></i>
                                    </dd>
                                </dl>
                            </div>
                            <h2 class="slider-title">账户管理</h2>
                            <div class="slider-line"></div>
                            <div class="nav">
                                <ul>
                                    <li>
                                        <a asp-controller="user" asp-action="index" class="active">个人资料
                                            <span class="arr">
                                                <i class="icon iconfont d-icon-right1"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="">实名认证
                                            <span class="arr">
                                                <i class="icon iconfont d-icon-right1"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="">账号安全
                                            <span class="arr">
                                                <i class="icon iconfont d-icon-right1"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="">支付管理
                                            <span class="arr">
                                                <i class="icon iconfont d-icon-right1"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="">收件地址
                                            <span class="arr">
                                                <i class="icon iconfont d-icon-right1"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="">操作记录
                                            <span class="arr">
                                                <i class="icon iconfont d-icon-right1"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="account" asp-action="logoff">退出登录
                                            <span class="arr">
                                                <i class="icon iconfont d-icon-right1"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right content">
                    <div class="box box-no-border crumbs">
                        <div class="box-title"></div>
                        <div class="box-inner">
                            <div class="crumbs-path">
                                <a asp-controller="user" asp-action="index">首页</a>
                                <i class="icon iconfont d-icon-right1"></i>
                                <span>用户管理</span>
                            </div>
                            <div class="crumbs-sub">
                                <ul class="clearfix">
                                    <li>
                                        <a href="javascript:;" class="active">基本信息</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">学校资料</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">工作记录</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">简历信息</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    11111
                </div>
            </div>
        </div>
    </div>
</body>


</html>