<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Login Title" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>登录-网商银行</title>
    <link type="text/css" rel="stylesheet" href="icon/iconfont.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body class="accoung-body">
    <div class="container shadow4 account-head">
        <div class="wrapper clearfix">
            <div class="left account-logo">
                <h1><a href="javascript:;"><img src="images/logo-account.png" class="logo-img" /></a></h1>
            </div>
            <div class="right account-menu">
                <ul>
                    <li><a href="javascript:;"><i class="iconfont d-icon-flow2"></i>&nbsp;服务大厅</a></li>
                    <li><a href="javascript:;"><i class="iconfont d-icon-phone3"></i>&nbsp;95188-3</a></li>
                    <li><a href="javascript:;"><i class="iconfont d-icon-helper1"></i>&nbsp;[帮助中心]</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container account-main">
        <div class="wrapper">
            <div class="account-main-inner">
                <div class="account-box">
                    <div class="account-box-title">
                        <ol class="cmpt-step cmpt-step-4">
                            <li class="cmpt-step-active start"><div class="step-back"><div class="left"></div><div class="right"></div><div class="all"></div></div><div class="step-no">1</div><div class="step-name">输入账号</div></li>
                            <li class="cmpt-step-inactive "><div class="step-back"><div class="left"></div><div class="right"></div><div class="all"></div></div><div class="step-no">2</div><div class="step-name">身份验证</div></li>
                            <li class="cmpt-step-inactive "><div class="step-back"><div class="left"></div><div class="right"></div><div class="all"></div></div><div class="step-no">3</div><div class="step-name">重置密码</div></li>
                            <li class="cmpt-step-inactive end"><div class="step-back"><div class="left"></div><div class="right"></div><div class="all"></div></div><div class="step-no">4</div><div class="step-name">成功</div></li>
                        </ol>
                    </div>
                    <div class="account-form">
                        <div class="form-item">
                            <div class="form-input">
                                <input type="text" placeholder="账号/手机号/邮箱" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-input password">
                                <input type="password" placeholder="登录密码" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-input password">
                                <input placeholder="密码" type="password" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-item">
                            <input type="submit" class="form-submit" value="下一步" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container foot account-foot">
        <div class="wrapper foot-content clearfix">
            <div class="left">
                <img class="foot-tag-img1" src="images/copyright-tag1.png" />
                <div class="foot-link">
                    <a href="http://www.antgroup.com/page/alipay.htm" target="_blank" title="支付宝">支付宝</a> |
                    <a href="http://www.antgroup.com/page/zmxy.htm" target="_blank" title="芝麻信用">芝麻信用</a> |
                    <a href="http://www.antgroup.com/page/jinrongyun.htm" target="_blank" title="蚂蚁金融云">蚂蚁金融云</a> |
                    <a href="http://www.antgroup.com/page/yuebao.htm" target="_blank" title="余额宝">余额宝</a>
                </div>
            </div>
            <div class="right">
                <div class="foot-intro">
                    <a href="https://www.mybank.cn/about.htm" target="_blank" title="关于我们">关于我们</a> |
                    <a href="https://job.alibaba.com/zhaopin/index.htm" target="_blank" title="诚招英才">诚招英才</a>
                </div>
                <p class="foot-copyright">
                    <span class="copyright">浙ICP备15020822号</span>Copyright © 2015-2017 浙江网商银行
                </p>
            </div>
        </div>
    </div>
</body>
</html>