<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Login Title" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>登录-网商银行</title>
    <link type="text/css" rel="stylesheet" href="icon/iconfont.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body class="login-min">
    <div class="login-box">
        <div class="login-nav">
            <div class="login-tab">
                <span class="active">快速登录</span>
                <span>短信登录</span>
            </div>
        </div>
        <div class="form-group account-form login-form">
            <div class="form-item">
                <div class="form-input">
                    <input type="text" placeholder="账号/手机号/邮箱"  autocomplete="off" />
                </div>
            </div>
            <div class="form-item">
                <div class="form-input password">
                    <input type="password" placeholder="登录密码"  autocomplete="off" />
                </div>
            </div>
            <div class="form-item">
                <div class="form-input password">
                    <input placeholder="密码" type="password" autocomplete="off" />
                </div>
            </div>
            <div class="form-item">
                <input type="submit"  class="form-submit" value="登录" />
            </div>
        </div>
        <div class="login-foot">
            <div class="login-link clearfix">
                <a href="findpwd.html" class="link-text left" target="_parent">忘记密码</a>
                <a href="register-part.html" class="link-text right">立即注册</a>
            </div>
            <!--<div class="login-platform">
                <span>其它登录：新浪微博 腾讯微博 支付宝 QQ</span>
            </div>-->
        </div>
    </div>
</body>
</html>