@charset "utf-8";
* { margin: 0; padding: 0; border: 0; outline: 0; background: transparent; list-style: none; box-sizing: border-box; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
ico16, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { color: #666; font-size: 12px; font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none; }
/*"微软雅黑","宋体",Arial,sans-serif*/

/*self-cst*/
html, body { width: 100%; height: 100%; /*overflow: hidden;*/ }

a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul, li { list-style: none; }
image { border: none; }
img.img-view { max-width: 100%; max-height: 100%; }


a { color: #333; line-height: 12px; font-size: 12px; background: transparent; text-decoration: none; outline: none; cursor: pointer; transition: color .3s ease; }
    a:hover { color: #00c2c2; }
    a:active, a:hover { outline: 0; text-decoration: none; }
    a .iconfont { color: #333; }
    a:hover .iconfont { color: #00c2c2; }


.link-text { color: #666; text-decoration: none; }
    .link-text:hover { color: #333; }

.label-text { color: #333; }

.iconfont { font-size: 14px; }

/*clearfix*/
.clearfix:after { content: ''; display: table; clear: both; /*height: 0;  overflow:hidden;*/ }
.clearfix { *zoom: 1; }


/*flow*/
.left { float: left; }
.right { float: right; }

/*package*/
.full { position: relative; width: 100%; height: 100%; }
.container { position: relative; width: 100%; }
.wrapper { position: relative; width: 1190px; margin: 0px auto; height: inherit; }
.wrapper-auto { width: auto; padding: 0 15px; }
.overflow-hide { overflow: hidden; }

/*shadow*/
.shadow1 { -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
.shadow2 { -webkit-box-shadow: 0px 1px 2px #bbb; -moz-box-shadow: 0px 1px 2px #bbb; box-shadow: 0px 1px 2px #bbb; }
.shadow3 { -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.06); -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.06); box-shadow: 0 3px 3px rgba(0,0,0,0.06); }
.shadow4 { -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1); -moz-box-shadow: 0 2px 4px rgba(0,0,0,.1); box-shadow: 0 2px 4px rgba(0,0,0,.1); }

/*badge*/
.badge, .badge-dot, .badge-rim { position: relative; display: inline-block; padding: 0 6px; font-style: normal; font-size: 12px; text-align: center; background-color: #FF5722; color: #fff; border-radius: 2px; }
.badge { height: 18px; line-height: 18px; }
.badge-dot { width: 8px; height: 8px; padding: 0; border-radius: 50%; }
.badge-rim { height: 18px; line-height: 18px; border-width: 1px; border-style: solid; background-color: #fff; color: #666; }

/*backgroup*/
.bg-red { background-color: #ff5722 !important }
.bg-orange { background-color: #ffb800 !important }
.bg-green { background-color: #009688 !important }
.bg-cyan { background-color: #2f4056 !important }
.bg-blue { background-color: #1e9fff !important }
.bg-black { background-color: #393d49 !important }
.bg-gray { background-color: #eee !important; }

/*validation-danger*/
.validation-summary-errors { }
    .validation-summary-errors ul { }
        .validation-summary-errors ul li { }
.validation-model-danger ul li { color: #f00; }

/*box*/
.box { border: 1px solid #ddd; }
    .box .box-title { width: 100%; }
    .box .box-inner { }
.box-no-border { border: none; }

.box-theme1 { background: #fff; }
    .box-theme1 .box-title { padding: 10px 15px; border-bottom: 1px solid #eee; background: #f8fafc; box-shadow: none; font-size: 0; color: #666; }
    .box-theme1 .box-inner { padding: 15px; }

/*cmpt-step*/
.cmpt-step:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.cmpt-step { color: #B7B7B7; font-size: 12px; list-style: none outside none; overflow: hidden; position: relative; }
    .cmpt-step li { float: left; height: 54px; margin: 0; position: relative; }
.cmpt-step-2 li { width: 49%; }
.cmpt-step-3 li { width: 33%; }
.cmpt-step-4 li { width: 24%; }
.cmpt-step-5 li { width: 19%; }
.cmpt-step-6 li { width: 16%; }
.cmpt-step li { float: left; text-align: center; }
.cmpt-step .cmpt-step-active .left { background: #fa7200 url(../images/step-progress.png) -20px -66px no-repeat; width: 6px; height: 5px; float: left; position: relative; z-index: 10; overflow: hidden; }
.cmpt-step .cmpt-step-inactive .left { background: #cccccc url(../images/step-progress.png) -20px -73px no-repeat; width: 6px; height: 5px; float: left; position: relative; z-index: 10; overflow: hidden; }
.cmpt-step .cmpt-step-active .right { background: #fa7200 url(../images/step-progress.png) -7px -66px no-repeat; width: 6px; height: 5px; float: right; position: absolute; z-index: 10; right: 0; overflow: hidden; }
.cmpt-step .cmpt-step-inactive .right { background: #cccccc url(../images/step-progress.png) -7px -73px no-repeat; width: 6px; height: 5px; float: right; position: absolute; z-index: 10; right: 0; overflow: hidden; }
.cmpt-step .cmpt-step-active .all { background-color: #fa7200; height: 5px; margin: auto 5px; position: relative; z-index: 9; _margin: 0; overflow: hidden; _left: -3px; }
.cmpt-step .cmpt-step-inactive .all { background-color: #cccccc; height: 5px; margin: auto 5px; position: relative; z-index: 9; _margin: 0; overflow: hidden; _left: -3px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .cmpt-step .cmpt-step-active .all { background-color: #fa7200; height: 5px; margin: auto 5px auto 0; position: relative; z-index: 9; overflow: hidden; }
    .cmpt-step .cmpt-step-inactive .all { background-color: #cccccc; height: 5px; margin: auto 5px auto 0; position: relative; z-index: 9; overflow: hidden; }
}

.cmpt-step .cmpt-step-active .step-no { background: url(../images/step-progress.png) -2px -1px no-repeat; width: 30px; height: 30px; color: #FFFFFF; z-index: 99; position: absolute; left: 50%; margin-top: -25px; padding-top: 5px; margin-left: -15px; font-size: 14px; *height: 24px; *padding-top: 6px; }
.cmpt-step .cmpt-step-inactive .step-no { background: url(../images/step-progress.png) -2px -32px no-repeat; width: 30px; height: 30px; color: #FFFFFF; z-index: 99; position: absolute; left: 50%; margin-top: -25px; padding-top: 5px; margin-left: -15px; font-size: 14px; *height: 24px; *padding-top: 6px; }
.cmpt-step .start .left, .cmpt-step .end .right { background-color: transparent; }
.cmpt-step .step-name { color: #888888; font-weight: 700; margin-top: 5px; }
.cmpt-step .step-back { padding-top: 12px; padding-bottom: 13px; z-index: -1; height: 5px; _height: 0; }

/*head*/
.head { height: 70px; line-height: 70px; background: #fff; }
    .head .logo { }
        .head .logo h1 { line-height: initial; }
        .head .logo .logo-img { margin-top: 20px; width: 169px; height: 30px; }
    .head .menu { }
        .head .menu li { float: left; }
        .head .menu a { padding: 0px 10px; }

/*foot*/
.foot { font-size: 12px; line-height: 12px; color: #333; }
    .foot a { color: #333; text-decoration: none; font-size: 12px; margin: 0 10px; }
    .foot .right { text-align: right; }
    .foot .foot-content { padding: 30px 15px; background: #f8f8f8 url(/images/copyright-bg.png) right -1px no-repeat; }
    .foot .foot-tag-img1 { height: 26px; }
    .foot .foot-link { position: relative; left: -10px; padding-top: 18px; line-height: 12px; }
    .foot .foot-intro { padding-top: 14px; position: relative; right: -10px; }
    .foot .foot-copyright { padding-top: 20px; }

/*login*/
.login-min { width: 380px; margin: 0 auto; min-height: 442px; background: #fff; }
.login-box { position: relative; }
    .login-box .login-nav, .login-box .login-form, .login-box .login-foot { width: 320px; margin: 0px auto; }

    .login-box .login-nav { margin-bottom: 28px; }
        .login-box .login-nav .login-tab { display: table; width: 100%; height: 49px; line-height: 49px; font-size: 16px; color: #909090; padding-top: 38px; font-weight: 600; overflow: hidden; }
            .login-box .login-nav .login-tab span { display: table-cell; width: 50%; color: #dcdcdc; font-size: 14px; text-align: center; border-bottom: 1px solid #e7e7e7; cursor: pointer; }
                .login-box .login-nav .login-tab span.active { color: #464646 !important; border-bottom: 3px solid #009191 !important; }

    .login-box .login-form { }

    .login-box .login-foot { }
        .login-box .login-foot .login-link { }
        .login-box .login-foot .login-platform { margin-top: 15px; }
            .login-box .login-foot .login-platform a { color: #666; }

/*register*/
.register-min { width: 380px; margin: 0 auto; min-height: 442px; background: #fff; }
.register-box { position: relative; }
    .register-box .register-nav, .register-box .register-form, .register-box .register-foot { width: 320px; margin: 0px auto; }

    .register-box .register-nav { margin-bottom: 20px; }
        .register-box .register-nav span { display: block; text-align: center; height: 52px; line-height: 52px; font-weight: 600; border-bottom: 1px solid #e7e7e7; font-size: 16px; color: #464646; }

    .register-box .register-form { }

        .register-box .register-form .des-center { width: 100%; display: inline-block; text-align: center; }

    .register-box .register-foot { text-align: center; }
        .register-box .register-foot a { padding: 10px 0px 5px 0px; color: #009191; font-size: 14px; }
            .register-box .register-foot a:hover { text-decoration: underline; }

/*account-form*/
.account-form { }
    .account-form .form-title { display: inline-block; width: 100%; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 2px solid #d8d8d8; text-align: left; font-size: 24px; }
        .account-form .form-title h3 { color: #14191e; font-size: 24px; line-height: 24px; }
    .account-form .form-item { width: 100%; margin-bottom: 16px; clear: both; }
    .account-form .form-input { width: 100%; height: 40px; padding: 0 10px; vertical-align: middle; background: #fff; border: 1px solid #d7d8d9; box-shadow: none; }
        .account-form .form-input input[type="text"], .account-form .form-input input[type="password"] { display: block; width: 100%; line-height: 36px; box-sizing: border-box; outline: 0; font-size: 12px; }
        .account-form .form-input:focus, .account-form .form-input:hover { border-color: #009191; }
            .account-form .form-input:focus input, .account-form .form-textarea:focus input { -webkit-box-shadow: 0 0 2px #a6cfff; -moz-box-shadow: 0 0 2px #a6cfff; -ms-box-shadow: 0 0 2px #a6cfff; -o-box-shadow: 0 0 2px #a6cfff; box-shadow: 0 0 2px #a6cfff; }
    .account-form .form-submit { width: 100%; height: 40px; padding: 0 10px; margin: 0px auto; vertical-align: middle; background: #009191; border-color: #009191; color: #fff; cursor: pointer; }
        .account-form .form-submit:hover { background: #0c7979; }
    .account-form .form-submit-disable, .account-form .form-submit-disable:hover { cursor: default; background: #8ed7d7; }
    .account-form .form-des { width: 100%; margin-bottom: 16px; clear: both; }



/*account-layout[login/register]*/
.accoung-body { background: #ecf1f1; }
.account-bg { width: 100%; height: 100%; overflow-x: hidden; position: relative; background-color: #ecf1f1; }
    .account-bg img { position: absolute; left: 50%; margin-left: -960px; }

.account-head { position: fixed; top: 0; z-index: 99; }

.account-foot { position: fixed; bottom: 0; height: 120px; z-index: 99; background: #f8f8f8; }

.account-login { position: fixed; top: 120px; }
    .account-login .accoung-login-frame { position: relative; width: 380px; height: 464px; left: 100%; padding: 0px; margin: 0px; padding-top: 22px; margin-left: -380px; border: none; background: transparent; }

.account-main { position: relative; padding-top: 85px; padding-bottom: 135px; }
    .account-main .account-main-inner { padding: 100px 0; background: #fff; border-radius: 3px; }

.account-box { width: 50%; margin: 0 auto; }
    .account-box .account-box-title { }
    .account-box .account-form { width: 400px; margin: 0 auto; }

/*layout*/
.layout-body { background: #ecf1f1; }
.layout-main { margin: 10px 0; background: #f8f8f8; border-radius: 3px; }
    .layout-main .slider { width: 216px; margin-left: 15px; }
    .layout-main .content { width: 876px; margin-left: 48px; margin-right: 15px; padding: 30px 0; }

.slider .profile { padding: 32px 0 24px; }
    .slider .profile .avator { position: relative; width: 100px; height: 100px; box-sizing: border-box; border: 4px solid #d9dde1; border-radius: 50px; margin: 0 auto; text-align: center; overflow: hidden; }
        .slider .profile .avator .avator-img { width: 92px; height: 92px; }
    .slider .profile .descript { width: 160px; line-height: 44px; margin: 0 auto; overflow: hidden; }
    .slider .profile .descript { font-size: 16px; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
    .slider .profile .tag { text-align: center; }
        .slider .profile .tag dd { display: inline-block; position: relative; background-color: #fff; width: 26px; height: 26px; border-radius: 13px; box-sizing: border-box; padding-top: 2.5px; margin-right: 12px; color: #a9adb2; cursor: pointer; }
            .slider .profile .tag dd.active { color: #f01414; }
                .slider .profile .tag dd.active:hover { color: #dd0909 }
            .slider .profile .tag dd:hover { color: #666; }

.slider .slider-title { font-size: 16px; line-height: 24px; margin: 12px 24px; font-weight: 700; }
.slider .slider-line { height: 1px; background-color: #d9dde1; margin: 0 24px; }

.slider .nav { padding: 10px 0 25px; }
    .slider .nav li { }
        .slider .nav li a { display: block; position: relative; height: 48px; line-height: 48px; padding: 0 0 0 54px; transition: background-color .3s ease; }
            .slider .nav li a span.arr { position: absolute; top: 0px; right: 25px; }
            .slider .nav li a:hover, .slider .nav li a:hover .iconfont { background-color: #f3f5f7; color: #f01414; }
            .slider .nav li a.active, .slider .nav li a.active .iconfont { color: #fff; background-color: #f01414; }


.content .content-title { line-height: 40px; border-bottom: 1px solid #d0d6d9; padding-bottom: 12px; }
    .content .content-title h2 { font-size: 16px; font-weight: 700; }
