@charset "utf-8";
* { margin: 0; padding: 0; border: 0; outline: 0; background: transparent; list-style: none; box-sizing: border-box; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
ico16, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { color: #666; font-size: 12px; font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none; }
/*"微软雅黑","宋体",Arial,sans-serif*/

/*self-cst*/
html, body { width: 100%; height: 100%; /*overflow: hidden;*/ }

a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul, li { list-style: none; }
image { border: none; }
img.img-view { max-width: 100%; max-height: 100%; }


a { color: #333; line-height: 12px; font-size: 12px; background: transparent; text-decoration: none; outline: none; cursor: pointer; transition: color .3s ease; }
    a:hover { color: #00c2c2; }
    a:active, a:hover { outline: 0; text-decoration: none; }
    a .iconfont { color: #333; }
    a:hover .iconfont { color: #00c2c2; }


.link-text { color: #666; text-decoration: none; }
    .link-text:hover { color: #333; }

.label-text { color: #333; }

.iconfont { font-size: 14px; }

/*clearfix*/
.clearfix:after { content: ''; display: table; clear: both; /*height: 0;  overflow:hidden;*/ }
.clearfix { *zoom: 1; }

/*flow*/
.left { float: left; }
.right { float: right; }


/*package*/
.full { position: relative; width: 100%; height: 100%; }
.container { position: relative; width: 100%; }
.wrapper { position: relative; width: 1190px; margin: 0px auto; height: inherit; }
.wrapper-auto { width: auto; padding: 0 15px; }
.overflow-hide { overflow: hidden; }

/*shadow*/
.shadow1 { -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
.shadow2 { -webkit-box-shadow: 0px 1px 2px #bbb; -moz-box-shadow: 0px 1px 2px #bbb; box-shadow: 0px 1px 2px #bbb; }
.shadow3 { -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.06); -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.06); box-shadow: 0 3px 3px rgba(0,0,0,0.06); }
.shadow4 { -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1); -moz-box-shadow: 0 2px 4px rgba(0,0,0,.1); box-shadow: 0 2px 4px rgba(0,0,0,.1); }

/*badge*/
.badge, .badge-dot, .badge-rim { position: relative; display: inline-block; padding: 0 6px; font-style: normal; font-size: 12px; text-align: center; background-color: #FF5722; color: #fff; border-radius: 2px; }
.badge { height: 18px; line-height: 18px; }
.badge-dot { width: 8px; height: 8px; padding: 0; border-radius: 50%; }
.badge-rim { height: 18px; line-height: 18px; border-width: 1px; border-style: solid; background-color: #fff; color: #666; }

/*backgroup*/
.bg-red { background-color: #ff5722 !important }
.bg-orange { background-color: #ffb800 !important }
.bg-green { background-color: #009688 !important }
.bg-cyan { background-color: #2f4056 !important }
.bg-blue { background-color: #1e9fff !important }
.bg-black { background-color: #393d49 !important }
.bg-gray { background-color: #eee !important; }

/*validation-danger*/
.validation-summary-errors { }
    .validation-summary-errors ul { }
        .validation-summary-errors ul li { }
.validation-model-danger ul li { color: #f00; }

/*box*/
.box { border: 1px solid #ddd; }
    .box .box-title { width: 100%; }
    .box .box-inner { }
.box-no-border { border: none; }

.box-theme1 { background: #fff; }
    .box-theme1 .box-title { padding: 10px 15px; border-bottom: 1px solid #eee; background: #f8fafc; box-shadow: none; font-size: 0; color: #666; }
    .box-theme1 .box-inner { padding: 15px; }

/*login*/

.account-form .form-item { width: 100%; margin-bottom: 16px; clear: both; }
.account-form .form-input { width: 100%; height: 40px; padding: 0 10px; vertical-align: middle; background: #fff; border: 1px solid #d7d8d9; box-shadow: none; }
    .account-form .form-input input[type="text"], .account-form .form-input input[type="password"] { display: block; width: 100%; line-height: 36px; box-sizing: border-box; outline: 0; font-size: 12px; }
    .account-form .form-input:focus, .account-form .form-input:hover { border-color: #009191; }
        .account-form .form-input:focus input, .account-form .form-textarea:focus input { -webkit-box-shadow: 0 0 2px #a6cfff; -moz-box-shadow: 0 0 2px #a6cfff; -ms-box-shadow: 0 0 2px #a6cfff; -o-box-shadow: 0 0 2px #a6cfff; box-shadow: 0 0 2px #a6cfff; }
.account-form .form-submit { width: 100%; height: 40px; padding: 0 10px; margin: 0px auto; vertical-align: middle; background: #009191; border-color: #009191; color: #fff; cursor: pointer; }
    .account-form .form-submit:hover { background: #0c7979; }
.account-form .form-submit-disable, .account-form .form-submit-disable:hover { cursor: default; background: #8ed7d7; }
.account-form .form-des { width: 100%; margin-bottom: 16px; clear: both; }

.login-min { width: 380px; margin: 0 auto; min-height: 442px; background: #fff; }
.login-box { position: relative; }
    .login-box .login-nav, .login-box .login-form, .login-box .login-foot { width: 320px; margin: 0px auto; }

    .login-box .login-nav { margin-bottom: 28px; }
        .login-box .login-nav .login-tab { display: table; width: 100%; height: 49px; line-height: 49px; font-size: 16px; color: #909090; padding-top: 38px; font-weight: 600; overflow: hidden; }
            .login-box .login-nav .login-tab span { display: table-cell; width: 50%; color: #dcdcdc; font-size: 14px; text-align: center; border-bottom: 1px solid #e7e7e7; cursor: pointer; }
                .login-box .login-nav .login-tab span.active { color: #464646 !important; border-bottom: 3px solid #009191 !important; }

    .login-box .login-form { }

    .login-box .login-foot { }
        .login-box .login-foot .login-link { }
        .login-box .login-foot .login-platform { margin-top: 15px; }
            .login-box .login-foot .login-platform a { color: #666; }

.register-min { width: 380px; margin: 0 auto; min-height: 442px; background: #fff; }
.register-box { position: relative; }
    .register-box .register-nav, .register-box .register-form, .register-box .register-foot { width: 320px; margin: 0px auto; }

    .register-box .register-nav { margin-bottom: 20px; }
        .register-box .register-nav span { display: block; text-align: center; height: 52px; line-height: 52px; font-weight: 600; border-bottom: 1px solid #e7e7e7; font-size: 16px; color: #464646; }

    .register-box .register-form { }

        .register-box .register-form .des-center { width:100%; display:inline-block; text-align:center; }

    .register-box .register-foot { text-align:center; }
        .register-box .register-foot a { padding:10px 0px 5px 0px; color: #009191; font-size: 14px; }
        .register-box .register-foot a:hover { text-decoration:underline; }



/*foot*/
.foot { font-size: 12px; line-height: 12px; color: #333; background-color: #f8f8f8; }
    .foot a { color: #333; text-decoration: none; font-size: 12px; margin: 0 10px; }
    .foot .right { text-align: right; }
    .foot .foot-content { padding: 30px 5px; background-color: #f8f8f8; background: url(/images/copyright-bg.png) right -1px no-repeat; }
    .foot .foot-tag-img1 { height: 26px; }
    .foot .foot-link { position: relative; left: -10px; padding-top: 18px; line-height: 12px; }
    .foot .foot-intro { padding-top: 14px; position: relative; right: -10px; }
    .foot .foot-copyright { padding-top: 20px; }

/*account[login/register]*/
.accoung-body { background: #ecf1f1; }
.account-bg { width: 100%; height: 100%; overflow-x: hidden; position: relative; background-color: #ecf1f1; }
    .account-bg img { position: absolute; left: 50%; margin-left: -960px; }

.account-head { position: fixed; top: 0; height: 70px; line-height: 70px; background: #fff; z-index: 99; }
    .account-head .account-logo { }
        .account-head .account-logo h1 { line-height: initial; }
        .account-head .account-logo .logo-img { margin-top: 20px; width: 169px; height: 30px; }
    .account-head .account-menu { }
        .account-head .account-menu li { float: left; }
        .account-head .account-menu a { padding: 0px 10px; }

.account-foot { position: fixed; bottom: 0; z-index: 99; }
.account-login { position: fixed; top: 120px; }
    .account-login .accoung-login-frame { position: relative; width: 380px; height: 464px; left: 100%; padding: 0px; margin: 0px; padding-top: 22px; margin-left: -380px; border: none; background: transparent; }
